// Animations

@keyframes waving-hand {
    0% { transform: rotate(0deg); }
    60% { transform: rotate(0deg); }
    64% { transform: rotate(15deg); }
    72% { transform: rotate(-15deg); }
    76% { transform: rotate(0deg); }
   100% { transform: rotate(0deg); }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale3d(0.98, 0.98, 0.98);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}