// Typography

// Font style SFUIText
@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Regular.eot');
    src: local('SFUIText Regular'), local('SFUIText-Regular'),
        url('../fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIText-Regular.woff2') format('woff2'),
        url('../fonts/SFUIText-Regular.woff') format('woff'),
        url('../fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Medium.eot');
    src: local('SFUIText Medium'), local('SFUIText-Medium'),
        url('../fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIText-Medium.woff2') format('woff2'),
        url('../fonts/SFUIText-Medium.woff') format('woff'),
        url('../fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Semibold.eot');
    src: local('SFUIText Semibold'), local('SFUIText-Semibold'),
        url('../fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIText-Semibold.woff2') format('woff2'),
        url('../fonts/SFUIText-Semibold.woff') format('woff'),
        url('../fonts/SFUIText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Heavy.eot');
    src: local('SFUIText Heavy'), local('SFUIText-Heavy'),
        url('../fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIText-Heavy.woff2') format('woff2'),
        url('../fonts/SFUIText-Heavy.woff') format('woff'),
        url('../fonts/SFUIText-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
	font-display: swap;
}