// Block contact information

.b-contacts {

}

.b-contacts__phone {
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    margin-bottom: 13px;

    &:focus,
    &:Hover {
        text-decoration: none;
    }
}

.b-contacts__address {
    font-size: 15px;
    line-height: 23px;
    color: #373737;
    margin-bottom: 49px;
    opacity: 0.9;
}

.b-contacts__btn {
    margin-bottom: 30px;
}

.b-contacts__icons {

}
