// Banners

.banner-stock {
    display: none;
}

@media (min-width: 850px) {
    .banner-stock {
        display: block;
        position: fixed;
        bottom: 10px;
        left: 10px;
        background: linear-gradient(90deg, #1F202E 0%, #3D3F56 100%);
        border-radius: 30px 15px 15px 5px;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
        opacity: 0;
        animation: fadeIn 0.5s forwards;
        animation-delay: 1s;
        z-index: 99;

        &:before,
        &:after {
            content: "";
            position: absolute;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        &:before {
            top: 50%;
            left: 15px;
            width: 51px;
            height: 51px;
            background-color: $color-bg;
            background-image: url('../img/city-yard.jpg');
            border-radius: 50%;
            transform: translateY(-50%);
        }

        &:after {
            top: 12px;
            right: 12px;
            width: 20px;
            height: 20px;
            background-image: url('../img/emoji-waving-hand.png');
        }

        &.banner-stock--hover:after {
            animation: waving-hand 4s 3;
        }
    }

    .banner-stock__wrapper {
        margin: 0;
        padding: 16px 43px 16px 81px;
    }

    .banner-stock__title {
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin: 0;
        margin-bottom: 3px;
    }

    .banner-stock__link {
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: rgba(#ffffff, 0.7);
        transition: color 0.25s ease;

        &:focus,
        &:hover {
            color: rgba(#ffffff, 1);
        }
    }
}