// Buttons

.btn {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.3px;
    text-decoration: none;
    color: #ffffff;
    background-color: $color-primary;
    border: none;
    border-radius: 15px;
    padding: 18px 28px;
    transition: color 0.2s ease, 
                background-color 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;

    &:focus,
    &:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: $color-primary-hover;
    }

    &:focus {
        outline: none;
    }
}

.btn--outline {
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;

    &:focus,
    &:hover {
        color: #ffffff;
    }
}

.btn--small {
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
    padding: 6px 22px;
}

.btn--light {
    color: $color-primary;
    background-color: $color-bg;

    &:focus,
    &:hover {
        color: #ffffff;
        background-color: $color-primary;
    }
}

.btn-call {
    display: none;
}

.btn-close {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 32px;
        height: 2px;
        background-color: #bcbcbc;
        transition: background-color 0.3s ease, 
                    transform 0.3s ease;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(-135deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:focus,
    &:hover {

        &:before,
        &:after {
            background-color: $color-primary-hover;
        }
        
        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}

@media (min-width: 850px) {
    .btn-call {
        display: block;
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 60px;
        height: 60px;
        background-color: $color-primary;
        border: none;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        opacity: 0;
        animation: fadeIn 0.5s forwards;
        animation-delay: 1s;
        cursor: pointer;
        z-index: 99;

        &:focus,
        &:hover {
            background-color: $color-primary-hover;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 21px;
            height: 21px;
            transform: translate(-50%, -50%);
        }

        path {
            stroke: #ffffff;
        }
    }
}
