// Cards

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards__item {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;

    & + & {
        margin-top: 20px;
    }
}

.cards__link {
    text-decoration: none;

    &:focus,
    &:hover {
        color: $color-primary;
        text-decoration: none;
    }
}

.cards__title {
    text-decoration: none;
    color: inherit;
    margin-top: 0;
    margin-bottom: 20px;
    opacity: 0.9;
}

.cards__description {
    line-height: 23px;
    text-decoration: none;
    color: $color-text-light;
    margin-bottom: 50px;
    opacity: 0.9;
}

.cards__footer {
    position: relative;

    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

.cards__date {
    float: left;
    padding-top: 5px;
}

.cards__time {
    font-size: 15px;
    line-height: 23px;
    color: #888888;
}

.cards__link-more {
    float: right;
}



.cards--advantages {
    display: flex;
    flex-direction: column;


    .cards__item {
        min-height: 166px;
        padding: 30px;
        padding-bottom: 32px;
    }

    .cards__title {
        font-size: 18px;
        line-height: 44px;
        font-weight: 600;
        margin-bottom: 13px;
        opacity: 1;

        span {
            font-size: 54px;
            line-height: inherit;
            color: $color-primary;
            margin-right: 5px;
        }
    }

    .cards__description {
        line-height: 17px;
        margin-bottom: 0;
        opacity: 1;
    }
}

@media (min-width: 850px) {
    .cards__item {
        padding: 30px;
    }

    .cards__link {
        margin-bottom: 20px;

        .cards__title {
            margin-bottom: 0;
        }
    }
    
    .cards__description {
        font-size: 15px;
        line-height: 23px;
    }

    .cards--advantages {
        min-height: auto;

        .cards__item {
            padding: 40px 30px;
        }
    
        .cards__description {
            line-height: 18px;
        }
    }
}

@media (min-width: 1024px) {
    .cards--advantages .cards__title span {
        display: block;
    }
}

@media (min-width: 1340px) {
    .cards--advantages .cards__title span {
        display: inline;
    }
}
